[Desktop Entry]
Encoding=UTF-8
Name=OdynStock
Comment=OdynStock P2P Cryptocurrency
Comment[fr]=OdynStock, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OdynStock, eşten eşe kriptografik sanal para birimi
Exec=odynstock-qt %u
Terminal=false
Type=Application
Icon=odynstock128
MimeType=x-scheme-handler/odynstock;
Categories=Office;Finance;
