policy_module(odynstock, 1.100.1)

########################################
#
# Declarations
#

type odynstock_t;
type odynstock_exec_t;
init_daemon_domain(odynstock_t, odynstock_exec_t)

permissive odynstock_t;

type odynstock_initrc_exec_t;
init_script_file(odynstock_initrc_exec_t)

type odynstock_conf_t;
files_type(odynstock_conf_t)

type odynstock_var_lib_t;
files_type(odynstock_var_lib_t)

type odynstock_var_run_t;
files_type(odynstock_var_run_t)

type odynstock_port_t;
corenet_port(odynstock_port_t)

########################################
#
# odynstock local policy
#
allow odynstock_t self:process { fork };

allow odynstock_t self:fifo_file rw_fifo_file_perms;
allow odynstock_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(odynstock_t, odynstock_conf_t, odynstock_conf_t)
manage_files_pattern(odynstock_t, odynstock_conf_t, odynstock_conf_t)

manage_dirs_pattern(odynstock_t, odynstock_var_lib_t, odynstock_var_lib_t)
manage_files_pattern(odynstock_t, odynstock_var_lib_t, odynstock_var_lib_t)
files_var_lib_filetrans(odynstock_t, odynstock_var_lib_t, { dir file })

manage_dirs_pattern(odynstock_t, odynstock_var_run_t, odynstock_var_run_t)
manage_files_pattern(odynstock_t, odynstock_var_run_t, odynstock_var_run_t)

sysnet_dns_name_resolve(odynstock_t)
corenet_all_recvfrom_unlabeled(odynstock_t)

allow odynstock_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(odynstock_t)
corenet_tcp_sendrecv_generic_node(odynstock_t)
corenet_tcp_sendrecv_all_ports(odynstock_t)
corenet_tcp_bind_generic_node(odynstock_t)

gen_require(`
    type odynstock_port_t;
')
allow odynstock_t odynstock_port_t:tcp_socket name_bind;

gen_require(`
    type odynstock_port_t;
')
allow odynstock_t odynstock_port_t:tcp_socket name_connect;

domain_use_interactive_fds(odynstock_t)

files_read_etc_files(odynstock_t)

miscfiles_read_localization(odynstock_t)

sysnet_dns_name_resolve(odynstock_t)

allow odynstock_t odynstock_exec_t:file execute_no_trans;
allow odynstock_t self:process setsched;
corecmd_exec_ls(odynstock_t)
corenet_tcp_connect_http_port(odynstock_t)
dev_read_urand(odynstock_t)
fs_getattr_xattr_fs(odynstock_t)
kernel_read_system_state(odynstock_t)
