[Unit]
Description=OdynStock's distributed currency daemon
After=network.target

[Service]
User=odynstock
Group=odynstock

Type=forking
PIDFile=/var/lib/odynstockd/odynstockd.pid
ExecStart=/usr/bin/odynstockd -daemon -pid=/var/lib/odynstockd/odynstockd.pid \
-conf=/etc/odynstock/odynstock.conf -datadir=/var/lib/odynstockd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
